.root {
    -fx-background-color: #F8F8FF;
    -fx-font-family: "Bradley Hand";
    -fx-font-size: 14px;
}

.editgroupe {
    -fx-font: bold 19pt "Arial";
    -fx-text-fill: #DC143C;
}

.groupe{
    -fx-font: bold 19pt "Arial";
    -fx-text-fill: #FF0000;
    -fx-background-color: #F8F8FF;
    -fx-background-radius: 50;
    -fx-border-color: #FF0000;
    -fx-border-width: 5;
    -fx-border-style: solid;
    -fx-border-radius: 10;
    -fx-padding: 10px;
}

.button {
    -fx-background-radius: 5px;
    -fx-text-fill: #ffffff;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #FF0000 0%, #B22222 100%);
}

.button .text {
    -fx-font: bold 17pt "Georgia";
}